* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Option-menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  /* margin-top: 8px; */
  /* padding-bottom: 90px; */
}

.Option-menu ul {
  height: 70px;
  display: flex;
  list-style: none;
  margin-right: 45px;
}

.Option-menu ul li {
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.Option-menu ul li a {
  color: beige;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#logo img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-left: 37px;
}

/* Starting the body with both sides */
.main-container {
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-container {
  width: 50%;
  height: calc(
    100vh - 60px
  ); /* Full viewport height minus the options menu height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Add this line to hide overflow */
}
.image-container img {
  /* width: 100%;
  height: auto; */
  width: 100vw; /* Full viewport width */
  height: calc(100vh - 50px); /* Adjusted for the options menu */
  position: relative; /* Allows for position adjustment */
  left: 50%; /* Shift the image to the left */
  transform: translateX(-50%); /* Center the image in viewport */
}

.right-side {
  width: 50%;
  height: calc(100vh - 60px); /* Adjust height if needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#text {
  font-family: "Lato", sans-serif;
  width: 70%;
  margin-top: 30px;
  text-align: center;
}

/* .flag {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

/* .flag img {
  max-width: 100%;
  height: auto;
} */
