* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Option-menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  /* margin-top: 8px; */
  /* padding-bottom: 90px; */
}

.Option-menu ul {
  height: 70px;
  display: flex;
  list-style: none;
  margin-right: 45px;
}

.Option-menu ul li {
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.Option-menu ul li a {
  color: beige;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#logo img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-left: 37px;
}

/* Starting the body with both sides */
.main-container {
  width: 100%;
  /* height: auto; */
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image-container {
  width: 50%;
  height: calc(
    100vh - 60px
  ); /* Full viewport height minus the options menu height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Add this line to hide overflow */
}
.image-container img {
  width: 780px; /* Set a fixed width */
  height: auto; /* Set a fixed height */
  border-radius: 1%; /* The border-radius makes the square image look round */
  object-fit: cover; /* Ensures the image covers the area and is cropped if necessary */
  object-position: center; /* Adjusts the focus area of the image */
}

.right-side {
  width: 50%;
  height: calc(100vh - 110px); /* Adjust height if needed */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

#text {
  font-family: "Lato", sans-serif;
  width: 90%;
  margin-top: 30px;
  text-align: center;
}
