* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Option-menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 8px; */
  /* padding-bottom: 90px; */
}

.Option-menu ul {
  height: 70px;
  display: flex;
  list-style: none;
  margin-right: 45px;
}

.Option-menu ul li {
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.Option-menu ul li a {
  color: beige;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#logo img {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  margin-left: 37px;
}

.Main-Header {
  background-color: #333; /* Add your desired background color */
  color: #bc1111; /* Add your desired text color */
  text-align: center;
  padding: 20px 0;
}

.Body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Added to center-align content vertically */
  align-items: center; /* Added to center-align content horizontally */
  padding: 20px; /* Added some padding for spacing */
}

#text {
  font-family: "Lato", sans-serif;
  width: 70%;
  margin-top: 30px;
  text-align: center;
}

.flag {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.flag img {
  max-width: 100%;
  height: auto;
}
