<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iglesia Camino al Cielo</title>
    <!-- Pico CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"> -->

      <!-- Adding AOS Library to document -->
      <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
      />

    <!-- Font for the Intro -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />

    <!-------Second Font--------->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <!-------Third Font--------->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <!-- font for nav bar -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="Style.css" /> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/Style.css') }}"
    />

    <!-- Add these lines to your HTML's head section THIS IS BOOTSTRAP-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
  </head>
  <body>
    <div
      class="First-Page"
      style="background-image: url('static/Images/newbackground.jpg')"
    >
      <div class="Option-menu">
        <div id="logo">
          <img src="static/Images/logo.jpg" alt="chruch logo" />
        </div>

        <div id="options">
          <ul>
            <li><a href="/Statement">About</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">Ministries</a></li>
            <li><a href="#">Prayers</a></li>
          </ul>
        </div>
      </div>

      <div id="Welcome">
        <!-- Make bone responsive -->
        <div id="bone">
          <img src="static/Images/church.png" alt="hellosign" />
        </div>
      </div>
    </div>

    <!-- This is the hamburger part its out of any containers in a fixed position------------------ -->

    <div id="hidden-menu">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Watch</a></li>
        <li><a href="#">Ministries</a></li>
        <li><a href="#">Prayers</a></li>
      </ul>
    </div>
    <!-- </h1> -->
    <div id="hamburger-icon">&#9776;</div>

    <!-- your HTML code here -->

    <script>
      const hamburgerIcon = document.getElementById("hamburger-icon");
      const hiddenMenu = document.getElementById("hidden-menu");

      let isHidden = false;

      hamburgerIcon.addEventListener("click", () => {
        if (isHidden) {
          hiddenMenu.style.transform = "translateX(0)";
          isHidden = false;
        } else {
          hiddenMenu.style.transform = "translateX(100%)";
          isHidden = true;
        }
      });
    </script>

    <!-- This is the Second page of the website ---------------------------------- -->

    <div class="Second-Page">
      <div id="left-side" data-aos="fade-up">
        <img src="static/Images/Colossians.png" alt="verse" />
      </div>
      <div id="right-side">
        <div id="top" data-aos="fade-up" data-aos-delay="300">
          <p>Quienes Somos?</p>
        </div>

        <div id="bottom" data-aos="fade-up" data-aos-delay="600">
          <p>
            We are a Pentecostal church rooted in the vibrant community of
            Atlantic City. Our faith is deeply anchored in Pentecostal beliefs,
            emphasizing the transformative power of the Holy Spirit. As a
            welcoming and diverse congregation, we come together to worship,
            pray, and celebrate the presence of God in our lives. At our core,
            we believe in the gifts of the Spirit, fervent prayer, and the
            life-changing experience of being filled with the Holy Ghost. Our
            mission is to spread the love and teachings of Jesus Christ,
            embracing all who seek spiritual growth and connection in our
            beautiful coastal city.
          </p>
        </div>
      </div>
    </div>

    <!-- This is the third page of the project aka the ministries  -->

    <!-- Need to add functionality where on hover it shows me a little bit of infor for each of the ministries as well as when they gather  -->

    <div class="Third-Page">
      <h1 id="Ministries">Nuestro Ministerios</h1>
      <div id="box-container">
        <div id="Mens" class="ministry-box" data-aos="fade-up" data-aos-delay="300>
          <img src="static/Images/mens.jpg" alt="Men's Ministry" />
          <div class="info">Men's Ministry</div>
        </div>
        <div id="Womens" class="ministry-box">
          <img src="static/Images/Womens.jpg" alt="Women's Ministry" />
          <div class="info">Women's Ministry</div>
        </div>
        <div id="Youth" class="ministry-box">
          <img src="static/Images/Kids.jpg" alt="Youth Ministry" />
          <div class="info">Youth Ministry</div>
        </div>
      </div>
    </div>

    <div class="Youtube">
      <div id="video_text">
        <h1 id="video_title">Nuestro Servicio</h1>
        <p id="video_paragraph">
          Aqui puedes ver nuestro servicio en vivo todos los domingos a las
          11:00 am
        </p>
      </div>
      <div id="tv-box">
        <iframe
          width="1000px"
          height="500px"
          src="https://www.youtube.com/embed/QbYxk-pdbaU"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>

    <!-- This is the Verse API page of the project aka the ministries  -->

    <div
      class="two-five"
      style="background-image: url('static/Images/Jesus.jpg')"
    >
      <div class="dark-overlay"></div>

      <div id="verse_container">
        {% if error %}
        <p>{{ error }}</p>
        {% else %}
        <p>{{ verse }}</p>
        <!-- <p>{{ reference }}</p> -->

        {% endif %}
      </div>
    </div>

    <!-- Beginning of the fourth page of the project=------------------------ -->
    <div class="Fourth-Page">
      <div class="UDP">
        <h1 id="contact-us">Contactanos</h1>
      </div>
      <div class="TCP">
        <form class="subscription-form" method="post" action="/submit-form">
          <input type="text" name="name" class="input-name" placeholder="Name">
          <input type="tel" name="phone" class="input-phone" placeholder="Phone">
          <input type="email" name="email" class="input-email" placeholder="Email Address">
          <input type="submit" class="input-submit" value="Subscribe">
        </form>
      </div>
  </div>
  

  

  <!-- This is where we set the asychronnous javascript -->
  <script></script>
  

  
    
    <!-- Include main.js if you have additional JavaScript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <!-- Bottom part of the webpage -->
    <div id="bottom-part">
      <div id="container3l">
        <h3 id="rsc">Más recursos</h3>
        <ul id="rscList">
          <li>
            <a href="https://www.bible.com/es/bible/149/GEN.1.RVR1960"
              >Para leer la bilbia (You Version)</a
            >
          </li>

          <li>
            <a href="https://www.blueletterbible.org/"
              >Para commentarios biblico (blueletterbible)</a
            >
          </li>

          <li>
            <a href="https://evangelismomundial.com/"
              >Como a evangelizar al mundo(evangelismomundial)</a
            >
          </li>
          <li>
            <a href="https://www.enfoquealafamilia.com/home/"
              >Para enfoquar tu familia en Cristo</a
            >
          </li>
        </ul>
      </div>
      <!-- right side of the footer -->
      <div id="container3r"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
<!-- end of the project -->
