<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statement</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="Style2.css" /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/Style2.css') }}"
    />
  </head>

  <div class="Option-menu">
    <div id="logo">
      <img src="static/Images/logo.jpg" alt="chruch logo" />
    </div>

    <div id="options">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="#">Watch</a></li>
        <li><a href="#">Ministries</a></li>
        <li><a href="#">Prayers</a></li>
      </ul>
    </div>
  </div>

  <div class="Main-Header">
    <h1>Statement of Faith</h1>
  </div>

  <body>
    <div class="Body">
      <p id="text">
        "In our Pentecostal church, we hold a fundamental belief in the triune
        nature of God, affirming God as the Father, the Son (Jesus Christ), and
        the Holy Spirit. We firmly believe that the Bible is the complete and
        inspired Word of God, without errors, serving as the ultimate authority
        in matters of faith, doctrine, and practice. Salvation is a
        transformative process that involves repentance from sin, the rejection
        of worldly desires, and the commitment to follow Jesus, with a rejection
        of the doctrines of Calvinism. We believe in the manifestation of
        spiritual gifts by the Holy Spirit, emphasizing discernment to
        distinguish the genuine work of the Holy Spirit. The Church serves as a
        place for repentance, spiritual growth, and a beacon of love and
        transformation, bringing the world closer to God's love. We highly
        recommend water baptism for believers as it symbolizes the invitation of
        the Holy Spirit into one's life. While not mandatory for salvation, it's
        a significant step in one's faith journey. We believe in the imminent
        return of Jesus Christ, the resurrection of the dead, and a final
        judgment by God. Our tradition holds that all believers should engage in
        evangelism, whether on a grand scale or through everyday interactions,
        to share the message of Jesus Christ. Furthermore, we emphasize holiness
        and sanctification, seeking to live set apart for God. Our worship
        practices are vibrant, expressive, and often include speaking in
        tongues, heartfelt singing, and the spontaneous movement of the Holy
        Spirit in our gatherings, as a means of drawing closer to God and
        experiencing His presence."
      </p>

      <p>
        The Pentecostal Church of God is a Trinitarian Pentecostal Christian
        denomination headquartered in Bedford, Texas, United States. As of 2010,
        there were 620,000 members, 6,750 clergy in 4,825 churches worldwide.
        The PCG is a member of the National Association of Evangelicals, the
        Pentecostal/Charismatic Churches of North America and the Pentecostal
        World Conference. et
      </p>

      <p>
        lets just try and get this bread and just go home to do the work for my
        database class
      </p>

      <!-- lets try to fix top part  -->

      <div class="flag">
        <img src="Images/flag.png" alt="flag" />
      </div>
    </div>
  </body>
</html>
<!-- Have to fix the issue where my html and css are in two different areas because i am running through verse.py  -->
